header {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    margin: 0% 30%;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}


footer {
    background-color: var(--bg-color);
    display: flex;
    margin: 0% 30%;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-separador{
    height: 70px;
    width: 100%;
    background-color: var(--bg-color);
}


.container-header{
    padding: 10px;   
    flex-wrap: wrap;
}


.nav{
    padding: 10px;
    flex-wrap: wrap;
}

.container-body{
    background-color: var(--bg-color);
    margin: 0% 30%;
    padding: 5px;
    flex-wrap: wrap;
    height: 500px;
}