@import "../css/_layout.css";
@import "../css/_tipography.css";
@import "../css/_style.css";
@import "../css/_reset.css";

:root {
    --bg-color : #252625;
    --font-color:#d4d4d4;
    --font-color2: #979797;
    --font-link-color: #a1d5ed;
    --f-s1: 34px;
    --f-s2: 30px;
    --f-s3: 26px;
    --f-s4: 20px;
    --f-s5: 18px;
    --f-s6: 16px;
}
